/* https://coolors.co/0d1b2a-1b263b-415a77-778da9-e0e1dd */

html {
  scroll-behavior: smooth;
  transition: ease-in 0.3s;
}

#override .nav-link {
  color: rgb(235, 235, 235);
  right: 100%;
  padding: 20px;
}

#override .nav-link:hover {
  color: black;
  text-shadow: 0px 0px 1px black;
}

/* #override .nav-link:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.5s;
}

#override .nav-link:hover:after {
  width: 100%;
  transition: width 0.5s;
} */

#override .collapse {
  justify-content: end;
}

#override .navbar {
  background: linear-gradient(to bottom, rgb(80, 80, 80), rgb) !important;
  padding-bottom: 0px;
  padding-top: 0px;
  top: 0px;
  transition: top 0.5s ease;
}

#override .navbar-nav {
  align-items: right;
}

#override .bg-light {
  background-color: rgb(13, 27, 42) !important;
}

#override .nav-item {
  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 #f6f6f8;
}

#override .nav-item:hover {
  transition: ease-out 0.5s;
  box-shadow: inset 200px 0 0 rgb(210, 210, 210);
}

#override .container {
  padding: 10px;
}

#about-me {
  background: rgb(65, 90, 119);
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: left;
  color: rgb(221, 219, 219);
  margin-top: -50px;
  padding: 0px;
}

#about-me h2 {
  position: relative;
  padding-top: 20px;
  width: 70%;
  margin: 50px;
}
#about-me h1 {
  padding-top: 100px;
  position: relative;
  width: 70%;
  margin: 50px;
}

#projects {
  padding-top: 110px;
  scroll-margin-top: 84px;
  background: rgb(224, 225, 221);
  height: auto;
  min-height: 100vh;
  padding-bottom: 200px;
  color: rgb(13, 27, 42);
}

#projects h1 {
  padding-bottom: 70px;
  text-align: center;
}

#projects #container-fluid {
  display: flex;
  flex-direction: row;
}

.project {
  position: relative;
  transition: box-shadow 0.3s;
  border: 4px;
  background-color: aliceblue;
  color: rgb(255, 255, 255);
  box-shadow: inset 0 0 0 1000px rgba(34, 31, 31, 0.4);
  text-decoration: none;
  font-size: x-large;
  padding: 50px;
  margin: 50px;
  width: 300px;
  height: 500px;
  text-align: justify;
  border-radius: 5px;
}

.project:hover {
  color: #f6f6f8;
  transition: box-shadow 0.3s;
  box-shadow: inset 0 0 0 1000px rgba(34, 31, 31, 0.8);
}

#dream-journal {
  background: url(images/night-sky.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#color-guesser {
  background: url(images/colors.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#balloon-dodge {
  background: url(images/balloon-dodge.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#contact {
  color: rgb(226, 218, 218);
  scroll-margin-top: 84px;
  height: auto;
  background: rgb(27, 38, 59);
  padding-bottom: 100px;
}

#contact h1 {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50px;
}

.fa:hover {
  opacity: 0.7;
}

.social-link {
  padding-top: 40px;
  transition: ease-out 0.3s;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  color: rgb(30, 30, 30);
  background-color: white;
}

.social-link:hover {
  transition: ease-out 0.3s;
  box-shadow: inset 0 0 1000px rgba(34, 31, 31, 0.3);
}

#twitter {
  background-image: url(images/twitter.png);
  background-size: cover;
}

#linkedin {
  background-image: url(images/linkedin.png);
  background-size: cover;
}
#github {
  background-image: url(images/github.png);
  background-size: cover;
}
#email {
  background-image: url(images/email.png);
  background-size: cover;
}

.navbar-toggler {
  height: 50px;
}

.hamburger {
  width: 35px;
  height: 4px;
  background-color: rgb(235, 235, 235);
  margin: 8px;
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  transition: ease-out 0.3s;
  background-color: #1b9b3b;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  transition: ease-out 0.3s;
  background-color: #295f2c;
}

#contact p {
  margin-top: -50px;
  font-size: x-large;
}

label {
  color: white;
}

/* Create two columns that float next to eachother */
.column {
  width: 50%;
  margin-top: 6px;
  padding: 35px;
}

form {
  width: auto;
}

.row {
  margin: 0 0;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

#socials {
  padding-top: 30px;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.appear {
  opacity: 1;
}

label {
  color: rgb(229, 226, 226);
}

.link-container {
  position: absolute;
  display: flex;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0 auto;
  width: fit-content;
  transition: all 0.3s;
  opacity: 0;
}

.project-link {
  transition: all 0.3s;
  display: flex;
  flex-direction: row;
  position: relative;
  height: fit-content;
  width: fit-content;
  padding: 20px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 20px;
  text-decoration: none;
  color: white;
}

.project-name {
  transition: all 0.3s;
  font-size: x-large;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project:hover .project-name {
  font-size: 2rem;
  transition: all 0.3s;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(0, 0);
}

.project:hover .link-container {
  transition: all 0.3s;
  top: 50%;
  opacity: 1;
}

.project:hover .project-link:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  border: 2px solid darkcyan;
  color: darkcyan;
  opacity: 1;
}

.technologies {
  opacity: 0;
  position: absolute;
  bottom: 0%;
  transition: all 0.3s;
  display: block;
  padding-top: 150px;
  font-size: large;
}

.project:hover .technologies {
  bottom: 10%;
  opacity: 1;
  transition: all 0.3s;
  display: block;
  padding-top: 150px;
  font-size: large;
}

.project-container {
  display: flex;
  flex-direction: row;
}
